{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="card card-primary w-50 d-flex">
        <div class="card-header">
            <h3 class="card-title">Formulaire d'inscription</h3>
        </div>
        <div class="card-body">
            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
